<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barHorizontal_blue_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{187,111},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_blue_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{121,77},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_blue_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{103,413},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_green_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{131,413},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_green_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{103,77},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_green_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{157,449},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{165,449},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{137,323},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_red_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{173,449},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_shadow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{177,477},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_shadow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{121,421},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_shadow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{197,485},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_white_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{145,351},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barHorizontal_white_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{121,449},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_white_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{155,323},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_yellow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{163,323},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_yellow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{139,421},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barHorizontal_yellow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{145,359},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_blue_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{1,503},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_blue_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{121,477},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_blue_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{29,503},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_green_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{57,503},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_green_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{141,495},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_green_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{85,497},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_red_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{85,505},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_red_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{139,449},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_red_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{113,497},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_shadow_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{113,505},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_shadow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{149,477},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_shadow_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{103,105},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_white_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{131,105},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_white_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{169,495},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_white_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{159,103},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_yellow_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{159,111},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barVertical_yellow_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{157,421},{26,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>barVertical_yellow_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,6}</string>
                <key>spriteSourceSize</key>
                <string>{26,6}</string>
                <key>textureRect</key>
                <string>{{187,103},{26,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{447,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blackOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{83,421},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{447,35},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_blueOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{83,459},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{447,69},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_redOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{103,1},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{103,323},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossair_whiteOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{103,39},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{481,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_pointer3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{175,425},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_pointer3D_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{481,33},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_pointerFlat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{201,425},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_pointerFlat_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{481,55},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{145,367},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{181,447},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{205,473},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{207,447},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{231,473},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{233,425},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,115},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerBL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,217},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerBR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,319},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerTL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{141,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_cornerTR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{243,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_corners.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{345,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_projection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,119},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glassPanel_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,221},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{175,323},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_blueCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,119},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,221},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_greenCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,421},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,119},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_redCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,205},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,221},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metalPanel_yellowCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,307},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{481,77},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{481,98},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squareRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{103,357},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{103,385},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squareYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{124,357},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{124,385},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GY_UI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb8fdc635eafa9dbd6330f5eb0821eed:9baa9e4a17c59ec3b3c3e35e3f02e430:7ed070b843e97f2ea727810eab94335d$</string>
            <key>textureFileName</key>
            <string>GY_UI.png</string>
        </dict>
    </dict>
</plist>
